@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);
@import url(http://fonts.googleapis.com/css?family=Cuprum:400,400italic,700);
@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?gemgay');
	src:url('../fonts/icomoon.eot?#iefixgemgay') format('embedded-opentype'),
		url('../fonts/icomoon.woff?gemgay') format('woff'),
		url('../fonts/icomoon.ttf?gemgay') format('truetype'),
		url('../fonts/icomoon.svg?gemgay#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}


.icon-menu:before {
	content: "\e600";
}
.icon-facebook:before {
	content: "\f082";
}
.icon-youtube:before {
	content: "\f166";
}
.icon-vimeo2:before {
	content: "\f194";
}

aside
{
	display: none;
}

body 
{
	background: #ECF0F1;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
}
header 
{
	background: #4D87CE;
	
}

header #logo_nav, header #menu
{
	display: inline-block;
}

header #box_nav_mob, header #box_logo_nav
{
	display: block;

}
header #box_nav_mob
{
	display: none;
}
header #menu1 ul
{
	padding: 1em 1.5em ;
	margin: 0;
}
header #menu1 li 
{
	list-style-type: none;
	padding: .9em;
	display: block;
	
}
header #menu1 li:hover 
{
	background: #3498DB;
}

header #menu1 li a
{
	color: white;
	font-size: 1.2em;
	font-style: normal;
	padding: 0.5em 6em 0.5em 0em;
	text-decoration: none;
	text-transform: uppercase;

}

header #menu2

{
	display: none;
	margin-top: .4em;
}

header #menu2 ul
{
	display: inline-block;
}

header #menu2 ul li
{
	display: inline-block;
	list-style-type: none;
	text-transform: uppercase;
	font-size: .9em;
}

header #menu2 ul li a 
{
	padding: 2em .9em 2em .9em;
	text-decoration: none;
	color: white;
	transition: 1s;
}

header #menu2 ul li a:hover
{
		background: #3498DB;
		transition: .3s;
}

footer
{
	background: #424242;
	min-height: 100px;
	margin-top: 1.5em;
	color: white;
	padding: .5em;
}

#art_social p  
{
	text-align: center;
}

#art_social #icon-social a 
{
	text-decoration: none;
	font-size: 3em;
	color: #646464;
	margin: .2em;


}

#bmedio:before
 {
 	border-left: 40px solid transparent;
	border-right: 40px solid transparent;
	border-top: 20px solid #ECF0F1;
	bottom: -20px;
	content: "";
	top: 0;
	height: 0;
	left: 0;
	margin: 0 auto;
	position: absolute;
	right: 0;
	width: 0;
	z-index: 1;
 }


#social
{
	border-bottom: 1px #A7A7A7 solid;
	color: #4D87CE;
	font-size: 1.5em;
	margin: 1.5em 5% 0em 5%;
	max-width: 90%;
	text-align: center;
	text-transform: uppercase;
}



#logo_nav, .amenu
{
	display: inline-block;
	 padding: 0 0;
	 margin: 0;
	 vertical-align: middle;

}

#principal
{
	text-align: center;
}

#video, .box_predicas
{
	color: #4D87CE;
	font-size: 1.2em;
	text-align: center;
	max-width: 90%;
	background: white;
	padding: .3em;	
	margin: 1em 5% 0em 5%;
	font-weight: 400;
	text-transform: uppercase;
}

#video iframe
{
	width: 95%;
	margin-top: .2em;


}

#welcome
{
	color: #4c4c4c;
	font-size: 1em;
	margin: 0 ;
	padding:3.5em 0 1em .5em;
	text-align: center;
	text-transform: uppercase;

}

#welcome .rojo
{
	color: green;
}

 .amenu 
 {
 	float: right;
 	margin: .5em .5em 0 0;
 	font-size: 2em;
 	color:white;
 	text-decoration: none;

 }

 .blanco
 {
 	margin: 0;
 	background: white;
 	position: relative;
 	padding-bottom: 1em;
 }

 .blanco:after
 {
 	border-left: 40px solid transparent;
	border-right: 40px solid transparent;
	border-top: 20px solid white;
	bottom: -20px;
	content: "";
	top: 100%;
	height: 0;
	left: 0;
	margin: 0 auto;
	position: absolute;
	right: 0;
	width: 0;
	z-index: 1;
 }

.box_predicas
{
	padding: 1em 0 1em 0;
	text-transform: none;
}

.blanco .contenedor #welcome, .blanco .contenedor #logo_rcontacto

{
	display: inline-block;
	vertical-align: middle;
}

.blanco .contenedor #logo_rcontacto
{
	margin: 1em 1em 0 0;
}

.blanco .contenedor #logo_rcontacto img

{   
	width: 127px;
	/*border-radius: 50%;*/
	/*box-shadow: rgba(32,255,0,.9) 0px 0px 50px;*/
}
 
.contenedor
{
	max-width: 1000px;
	margin: 0 auto;
	overflow: hidden;

}

.gris
{

	position: relative;
	margin-bottom: 1em;
}

.noticia
{
	background: #ECF0F1;
	margin: .5em 5% 0em 5%;
	max-width: 90%;
	padding: .5em 0;
	overflow: hidden;
	text-align: center;
}

.noticia .img_noticias
{
	max-width: 275px;
	max-height: 150px;
	margin: 0 auto;
	padding: 0;
}
.noticia .img_noticias img
{
	width: 100%;
	border: solid white 2px;
}

.noticia .titulo
{
	font-weight: bold;
	font-size: 1.5em;
	margin-top: 0;
	margin-bottom: .2em;
	color: #424242;
	padding: 0;
}

.noticia .titulo a
{
	text-decoration: none;
	color: #424242;
	font-family: 'Cuprum', sans-serif;


}

.noticia .text_news
{
	display: none;
	font-size: 1em;
	font-family: 'Cuprum', sans-serif;

}

.noticia .boton_news
{
	margin: 0;
}

.noticia .boton_news a
{
	background: #3498DB;
	padding: .3em 1em;
	border-radius: .3em;
	text-transform: uppercase;
	text-decoration: none;
	color: white;
	display: none;
	margin-right: .5em;
}


@media screen and (min-width: 640px) {

	.box_predicas 
 	{
 		display: inline-block;
 		margin: 1em .5% 0em 5%;
 		width: 44%;
 		padding: 1em 0;
 	}

 	.gris .contenedor #box_social1 article:nth-child(3)
 	{
  		margin: 1em 0 0em 1%;
 	}

	#video iframe
	{
		min-height: 300px;
	}

	.noticia
	{
	min-height: 150px;
	padding: .5em 0;
	position: relative;
	text-align: left;
	}

	.noticia .titulo
	{
	margin: 2em 1.5% .2em 305px;
	}

	.noticia .img_noticias
	{
	position: absolute;
	left: 1%;
	top: 5%;
	}

}

@media screen and (min-width: 1024px) {

	.contenedor #box_logo_nav #boton 
	{
		display: none;
	}

	header #menu2
	{
		display: inline-block;
	}

	#box_social1, #box_social2
	{
		display: inline-block;
		vertical-align: top;
		width: 650px;
	}

	#box_social2
	{
		width: 300px;
	}

	aside
	{
		margin-top: 1.2em;
		height: 600px;
		display: block;
	}

	#video
	{
		margin: 1em 0 0 7%;
	}

	#video iframe
	{
		min-height: 452px;
	}

	.gris .contenedor #art_social 
	{
		position: relative;
	}

	.gris .contenedor #art_social #icon-social
	{
		position: absolute;
		top: 0;
		font-size: .7em;
		top: -25px;
		left: 79%;
		margin: 1.5em 5% 0em 5%;
	}

	.gris .contenedor #art_social #icon-social a 
	{
		margin: 0;
		transition: .5s;
	}

	.gris .contenedor #art_social #icon-social a:hover
	{
		color: #4D87CE;
		transition: .3s;
	}


	.box_predicas
	{
		margin: 1em .5% 0 7%
	}

	.gris .contenedor #box_social1 article:nth-child(3)
 	{
  		margin: 1em 0 0em 2.7%;
 	}

 	.fb_iframe_widget
 	{
 		border: solid white	8px;
 	}

 	.blanco #cont_noticia
 	{
 		text-align: center;
 	}

 	.blanco .contenedor .noticia
 	{
 		display: inline-block;
 		margin: 1em 0 0 0 ;
 		vertical-align: top;
 		width: 30%;
 		transition: .3s;

 	}

 	.blanco .contenedor .noticia:hover
 	{
 		background: #3498DB;
 		transition: .3s;
 		margin: .5em 0 0 0;
 	}

 	.blanco .contenedor .noticia:hover .titulo a
 	{
 		color: white;
 		transition: .5s;
 	}

 	.blanco .contenedor .noticia .titulo
 	{
 		margin: .7em 0 .4em 1em;
 		font-family: 'Cuprum', sans-serif;
 		text-align: left;
 		font-weight: normal;
 	}

 	.blanco .contenedor .noticia .img_noticias
 	{
 		position: static;
 		max-width: 250px;
 	}

 	.blanco .contenedor .noticia .text_news
 	{
 		display: block;
 		text-align: justify;
 		line-height: 1.8em;
 		padding: .5em 1.6em;
 		margin: 0;
 	}

 	.blanco .contenedor .noticia:hover .text_news
 	{
 		color: white;
 		transition: .3s;
 	}

 	.blanco .contenedor .noticia .boton_news
 	{
		margin: 0 auto;
		width: 33%;
		margin-bottom: 1em;
		transition: .3s;
		margin-top: .6em;
 	}
 	.blanco .contenedor .noticia:hover .boton_news
 	{
 		margin-bottom: 2em;
 		transition: .3s;
 		margin-top: .8em;
 	}

	.blanco .contenedor .noticia .boton_news a
 	{
		display: block;	
		font-size: .9em;
		text-align: center;
		padding: .4em 0;
 	}

 	.blanco .contenedor .noticia:hover .boton_news a
 	{
 		background: white;
 		color: #3498DB;
 		transition: .3s;
 	}

 	.blanco .contenedor .noticia:hover .boton_news a:hover
 	{
 		color: red;
 	}
}

.slider-wrapper { 
	width: 100%; 
	margin: 10px auto;
}
 	







